body {
    background-color: antiquewhite;
}

header {
    font-size: xx-large;
    margin-left: 75px;
}

p {
    font-size: medium;
    width: 50%;
    margin-left: 50px;
}

img {
    height: 200px;
    width: 200px;
    margin-left: 50px;
}

div {
    text-align: center;
}